<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cafeReplyMapper">

	<resultMap type="CafeReply" id="reply_rm">
    <id property="replyNo" column="REPLY_NO"/>
    <result property="replyContent" column="REPLY_CONTENT"/>
    <result property="replyCreateDt" column="REPLY_CREATE_DT"/>
    <result property="replyStatus" column="REPLY_STATUS"/>
    <result property="replyDepth" column="REPLY_DEPTH"/>
    <result property="memNo" column="MEM_NO"/>
    <result property="nickname" column="NICKNAME"/>
    <result property="cafeNo" column="CAFE_NO"/> <!-- parentCafeNo -->
    <result property="parentReplyNo" column="PARENT_REPLY_NO"/>
    <result property="memberGrade" column="MEM_GRADE"/>
	</resultMap>

	<!-- 댓글 목록 조회 -->
  <select id="selectReplyList" parameterType="_int" resultMap="reply_rm">
		SELECT * FROM V_CAFE_REPLY1
		WHERE REPLY_STATUS = 'N'
		AND CAFE_NO = #{cafeNo}
		AND PARENT_REPLY_NO IN ( SELECT REPLY_NO FROM V_CAFE_REPLY
                             WHERE REPLY_STATUS = 'N'
                             AND REPLY_DEPTH = 0
                             AND CAFE_NO = #{cafeNo} )
		ORDER BY PARENT_REPLY_NO DESC, 
	            CASE WHEN PARENT_REPLY_NO = REPLY_NO THEN 99999999
	            ELSE REPLY_NO END DESC
	</select>
	
	<!-- 댓글 삽입 -->
  <insert id="insertReply" parameterType="CafeReply">
		INSERT INTO CAFE_REPLY(REPLY_NO, REPLY_CONTENT, MEM_NO, CAFE_NO, PARENT_REPLY_NO)
		VALUES(SEQ_BRNO.NEXTVAL, #{replyContent}, #{memNo}, #{CafeNo}, SEQ_BRNO.CURRVAL)
	</insert>
	
	<!-- 댓글 수정 -->
  <update id="updateReply" parameterType="CafeReply">
		UPDATE CAFE_REPLY SET
		REPLY_CONTENT = #{replyContent}
		WHERE REPLY_NO = #{replyNo}
	</update>
	
	<!-- 댓글 삭제 -->
 	<update id="deleteReply" parameterType="_int">
		UPDATE CAFE_REPLY SET
		REPLY_STATUS = 'Y'
		WHERE REPLY_NO = #{replyNo}
	</update>
	
	<!-- 대댓글(답글) 삽입 -->
 	<insert id="insertChildReply" parameterType="CafeReply">
		INSERT INTO CAFE_REPLY(REPLY_NO, REPLY_CONTENT, CAFE_NO, PARENT_REPLY_NO, MEM_NO, REPLY_DEPTH)
		VALUES(SEQ_BRNO.NEXTVAL, #{replyContent}, #{cafeNo}, #{parentReplyNo}, #{memNo}, 1)
	</insert>
	
	<!-- 댓글 신고 다음 번호 조회 -->
	<select id="selectReportNo" resultType="_int">
		SELECT SEQ_RNO.NEXTVAL FROM DUAL
	</select>
	
	<!-- 댓글 신고 등록 -->
	<insert id="insertBoardReport" parameterType="map">
		INSERT INTO REPORT_REPLY_CAFE VALUES 
		(#{reportNo}, #{reportTitle}, 
		 #{reportContent}, #{memberNo}, #{categoryCode}, #{replyNo}, #{cafeNo})
  </insert>
	

</mapper>