<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="messageMapper">
	
	<resultMap type="Message" id="message_rm">
		<id property="messageNo" column="MSG_NO"/>
		
		<result property="sendMember" column="SEND_MEMBER"/>
		<result property="receiveMember" column="RECEIVE_MEMBER"/>
		<result property="sendNickName" column="SEND_NICK"/>
		<result property="receiveNickName" column="RECEIVE_NICK"/>
		<result property="messageContent" column="MSG_CONTENT"/>
		<result property="createDt" column="CREATE_DT"/>
		<result property="messageStatus" column="MESSAGE_STATUS"/>
		<result property="readMessage" column="READ_MESSAGE"/>
		<result property="receiveStatus" column="RECEIVE_STATUS"/>
		<result property="readStatus" column="SEND_STATUS"/>
		
	</resultMap>
	
	
	<!-- 보낸 쪽지 수 조회  -->
	<select id="getSendListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM V_MESSAGE
		WHERE SEND_STATUS='N'
		AND SEND_MEMBER = #{memberNo}  
	</select>
	
	
	<!-- 보낸 쪽지 목록 조회  -->
	<select id="selectSendList" parameterType="map" resultMap="message_rm">
		SELECT * FROM V_SMESSAGE
		WHERE SEND_STATUS = 'N'
		AND SEND_MEMBER = #{memberNo}
		ORDER BY MSG_NO DESC
	</select>
	
	<!-- 받은 쪽지 수 조회  -->
	<select id="getReceivePageInfo" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM V_MESSAGE
		WHERE RECEIVE_STATUS ='N'
		AND RECEIVE_MEMBER = #{memberNo}
	</select>
	
	
	<!-- 받은 쪽지 목록 조회  -->
	<select id="selectReceiveList" parameterType="map" resultMap="message_rm">
		SELECT * FROM V_RMESSAGE
		WHERE RECEIVE_STATUS = 'N'
		AND RECEIVE_MEMBER = #{memberNo}
		ORDER BY MSG_NO DESC		
	</select>
	
	
	<!-- 쪽지번호 얻어오기  -->
	<select id="selectNextNo" resultType="_int">
		SELECT SEQ_MSGNO.NEXTVAL FROM DUAL
	</select>
	
	<!-- 쪽지 보내기  -->
	<insert id="sendMessage" parameterType="map">
		INSERT INTO MESSAGE (MSG_NO, MEM_NO1, MEM_NO2, MSG_CONTENT)
		VALUES(#{msgNo}, #{sendMember}, #{receiveMember}, #{content})
	</insert>
	
	
	<!-- 메세지 읽음 상태 변경  -->
	<update id="updateReadStatus" parameterType="_int">
		UPDATE MESSAGE SET
		READ_MESSAGE = 'Y'
		WHERE MSG_NO = #{messageNo}
	</update>
	
	
	<!-- 보낸 메세지 삭제  -->
	<update id="deleteSendMessage" parameterType="list">
		UPDATE MESSAGE SET
		SEND_STATUS = 'Y'
		WHERE MSG_NO IN 
		<foreach collection="list" item="msgNo" open="(" close=")" separator=",">
			${msgNo}
		</foreach>
	</update>



	<!-- 받은 메세지 삭제  -->
	<update id="deleteReceiveMessage" parameterType="list">
		UPDATE MESSAGE SET
		RECEIVE_STATUS = 'Y'
		WHERE MSG_NO IN 
		<foreach collection="list" item="msgNo" open="(" close=")" separator=",">
			${msgNo}
		</foreach>
	</update>
	
	
</mapper>